<footer class="site-footer">
    <div class="site-footer-container">
        <section class="footer-download-cv">
            <h4 class="footer-download-cv-title">Download my CV</h4>

            <div class="footer-buttons">
                <button class="footer-download-cv-english"><i class="fas fa-arrow-down"></i> English</button>
                <button class="footer-download-cv-bulgarian"><i class="fas fa-arrow-down"></i>
                    Bulgarian</button>
                <button class="footer-download-cv-german"><i class="fas fa-arrow-down"></i> German</button>
                <button class="footer-download-cv-all"><i class="fas fa-arrow-down"></i> All</button>
            </div>

            <p class="footer-download-cv-message"><i class="fas fa-exclamation"></i>The CV is in .pdf format.
                Use the Adobe Reader to open it.</p>
        </section>

        <section class="footer-social-media">
            <h4 class="footer-social-media-title">Follow me</h4>

            <ul class="footer-social-media-list">
                <li class="footer-social-media-li"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="footer-social-media-li"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="footer-social-media-li"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="footer-social-media-li"><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="footer-social-media-li"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </section>
    </div>

    <p class="site-footer-message">© 2020<a href="https://github.com/ChristinaNikolova" target="_blank"> Christina
            Nikolova</a> All rights reserved.</p>
</footer>