<header class="site-header">
    <nav class="site-header-nav">
        <ul class="site-header-nav-list">
            <li class="site-header-nav-li about"><a href="#/home"><i class="fas fa-male"></i> About</a></li>
            <li class="site-header-nav-li resume"><a href="#/resume"><i class="far fa-file-alt"></i> Resume</a></li>
            <li class="site-header-nav-li experience"><a href="#/work"><i class="fas fa-toolbox"></i></i>
                    Experience</a></li>
            <li class="site-header-nav-li graduation"><a href="#/education"><i class="fas fa-graduation-cap"></i>
                    Education</a></li>
            <li class="site-header-nav-li achievement"><a href="#/certificate"><i class="fas fa-trophy"></i> Certificate</a>
            </li>
            <li class="site-header-nav-li contacts"><a href="#/portfolio"><i class="far fa-images"></i> Portfolio</a>
            </li>
        </ul>
    </nav>
</header>