{{> header}}

<main class="site-work">
    <section class="site-work-content">
        <h1 class="site-work-content-main-title">My Experience</h1>
        <h5 class="site-work-content-second-title">Lorem, ipsum dolor sit amet consectetur adipisicing
            elit.</h5>

        <div class="site-work-vertical-timeline-wrapper">
            <div class="site-work-vertical-timeline">

                <div class="timeline-work-marker-sitte"><i class="fas fa-wrench"></i></div>
                <article class="site-work-vertical-timeline-sitte">
                    <h3>ELEKTRIKER</h3>
                    <h5><a class="work-site" href="https://www.sitte.de/startseite.html" target="_blank">Dipl.-Ing. H.
                            Sitte GmbH & Co. KG Niederlassung Rostock</a></h5>
                    <p class="work-logo-container"><img class="work-logo"
                            src="../../pictures/logo-work/Sitte Basis-Logo_230x150.png" alt="sitte-logo"></p>
                    <p class="work-city">Rostock, Germany</p>
                    <time class="date">03/2019 – AKTUELL</time>

                    <ul class="work-info">
                        <li><i class="fas fa-bolt"></i> Teilnahme an verschiedenen Projekten:
                            <ul class="work-info-second-list">
                                <li><a href="https://www.50hertz.com/de/Netz/Netzentwicklung/ProjekteanLand/380-kV-FreileitungGuestrowParchimSuedPerleberg"
                                        target="_blank"><i class="fas fa-briefcase"></i> UW Güstrow, Deutchland</a></li>
                                <li><a href="https://www.mv-werften.com/" target="_blank"><i
                                            class="fas fa-briefcase"></i> MV WERFTEN Rostock, Deutschland</a></li>
                                <li><a href="https://www.lurssen.com/en/" target="_blank"><i
                                            class="fas fa-briefcase"></i> Lürssen Werft GmbH & Co. KG, Bremen,
                                        Deutschland</a></li>
                                <li><a href="https://dolphin1.bg/de/startseite/" target="_blank"><i
                                            class="fas fa-briefcase"></i> MTG Delfin Werft Varna, Bulgarien</a></li>
                                <li><a href="https://www.neptunwerft.de/de/index.jsp" target="_blank"><i
                                            class="fas fa-briefcase"></i> NEPTUN WERFT GmbH & Co. KG Rostock,
                                        Deutschland</a></li>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </article>

                <div class="timeline-work-marker-bs"><i class="fas fa-wrench"></i></div>
                <article class="site-work-vertical-timeline-bs">
                    <h3>ELEKTRIKER AUF SCHLACHTSCHIFF </h3>
                    <h5><a class="work-site" href="https://www.mod.bg/bg/ba.html" target="_blank">Bulgarische
                            Streitkräfte</a></h5>
                    <p class="work-logo-container"><img class="work-logo"
                            src="../../pictures/logo-work/Logo_of_Ministry_of_Defense_of_Bulgaria.svg" alt="bs-logo">
                    </p>
                    <p class="work-city">Varna, Bulgaria</p>
                    <time class="date">07/2009 – 03/2019</time>

                    <ul class="work-info">
                        <li><i class="fas fa-bolt"></i> Wartung und Reparatur von elektrischen Maschinen und
                            Geräten sowie Leitsystemen</li>
                    </ul>
                </article>

                <div class="timeline-work-marker-andi"><i class="fas fa-wrench"></i></i></div>
                <article class="site-work-vertical-timeline-andi">
                    <h3>ELEKTRIKER</h3>
                    <h5><a class="work-site" href="https://andi-bg.com/" target="_blank">Andi GmbH</a></h5>
                    <p class="work-logo-container"><img class="work-logo" src="../../pictures/logo-work/andi.png"
                            alt="andi-logo"></p>
                    <p class="work-city">Varna, Bulgaria</p>
                    <time class="date">03/2007 – 09/2008</time>

                    <ul class="work-info">
                        <li><i class="fas fa-bolt"></i> elektrische Installationen von Gebäuden und Netzen</li>
                        <li><i class="fas fa-bolt"></i> Sicherheitsalarmsysteme</li>
                        <li><i class="fas fa-bolt"></i> CCTV (Videoüberwachung)</li>
                    </ul>
                </article>
            </div>
        </div>
    </section>
</main>

{{> footer}}