{{> header}}

<main class="site-certificates">
    <section class="site-certificates-content">
        <h1 class="site-certificates-content-main-title">My Certificates</h1>
        <h5 class="site-certificates-content-second-title">Lorem, ipsum dolor sit amet consectetur adipisicing
            elit.</h5>

        <div class="site-certificates-vertical-timeline-wrapper">
            <div class="site-certificates-vertical-timeline">

                <div class="timeline-certificates-marker-hub"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-hub">
                    <h4 class="site-certificates-main-title">Bediener für Hubarbeitsbühnen</h4>
                    <p class="certificates-city">Rostock, Germany</p>
                    <time class="date">08.08.2020</time>

                    <h6><a class="certificates-site" href="https://www.arbeitsbuehnen-steiger.de/unternehmen/"
                            target="_blank">GIGALIFT Vermietungs- GmbH - Niederlassung Rostock</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/Logo-Gigalift__2.jpg" alt="hub-logo"></p>

                    <ul class="certificates-info">
                        <li><i class="fas fa-check"></i> LKW-Arbeitsbühnen</li>
                        <li><i class="fas fa-check"></i> Anhänger-Arbeitsbühnen</li>
                        <li><i class="fas fa-check"></i> Scheren-Arbeitsbühnen</li>
                        <li><i class="fas fa-check"></i> Gelenkteleskop-Arbeitsbühnen</li>
                        <li><i class="fas fa-check"></i> Teleskopstapler</li>
                    </ul>
                </article>

                <div class="timeline-certificates-marker-rotex"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-rotex">
                    <h4 class="site-certificates-main-title">GK Packing System und Roxtex Multidiameter: Modular
                        Penetration Systems in
                        bulkhead and deck</h4>
                    <p class="certificates-city">Hamburg, Germany</p>
                    <time class="date">19.07.2019</time>

                    <h6><a class="certificates-site" href="https://www.roxtec.com/en/" target="_blank">Roxtec
                            International AB</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/roxtec_logo_137x171px.png" alt="rotex-logo"></p>

                    <ul class="certificates-info">
                        <li><i class="fas fa-check"></i> General information about fire and pressurized water protection
                        </li>
                        <li><i class="fas fa-check"></i> General information about fire and pressurized water protection
                        </li>
                        <li><i class="fas fa-check"></i> General information about fire and pressurized water protection
                        </li>
                        <li><i class="fas fa-check"></i> General information about fire and pressurized water protection
                        </li>
                        <li><i class="fas fa-check"></i> General information about fire and pressurized water protection
                        </li>
                    </ul>
                </article>

                <div class="timeline-certificates-marker-basic-safety"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-basic-safety">
                    <h4 class="site-certificates-main-title">Basic Safety Training</h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">08.06.2016</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png" alt="basic-safety-logo"></p>
                </article>

                <div class="timeline-certificates-marker-cargo-safety"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-cargo-safety">
                    <h4 class="site-certificates-main-title">Training in Passenger and Cargo Safety and Hull Integrity
                    </h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">08.06.2016</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png" alt="cargo-safety-logo"></p>
                </article>

                <div class="timeline-certificates-marker-crowd-management"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-crowd-management">
                    <h4 class="site-certificates-main-title">Training in Passenger Ship Crowd Management
                    </h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">08.06.2016</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png" alt="crowd-management-logo"></p>
                </article>

                <div class="timeline-certificates-marker-crisis-management"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-crisis-management">
                    <h4 class="site-certificates-main-title">Crisis Management and Human Behaviour Training
                    </h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">08.06.2016</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png" alt="crisis-management-logo"></p>
                </article>

                <div class="timeline-certificates-marker-safety-training"><i class="fas fa-award"></i></div>
                <article class="site-certificates-vertical-timeline-safety-training">
                    <h4 class="site-certificates-main-title">Safety Training for Personnel Providing Direct Services to
                        Passengers in Passenger
                        Spaces
                    </h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">08.06.2016</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png" alt="safety-training-logo"></p>
                </article>

                <div class="timeline-certificates-marker-marine-environmental-awareness"><i class="fas fa-award"></i>
                </div>
                <article class="site-certificates-vertical-timeline-marine-environmental-awareness">
                    <h4 class="site-certificates-main-title">Training in Marine Environmental Awareness
                    </h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">11.04.2017</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png"
                            alt="marine-environmental-awareness-logo"></p>
                </article>

                <div class="timeline-certificates-marker-marine-security-duties"><i class="fas fa-award"></i>
                </div>
                <article class="site-certificates-vertical-timeline-marine-security-duties">
                    <h4 class="site-certificates-main-title">Training for Seafarers with Designated Security Duties
                    </h4>
                    <p class="certificates-city">Varna, Bulgaria</p>
                    <time class="date">08.06.2017</time>

                    <h6><a class="certificates-site" href="https://www.marad.bg/en" target="_blank">EXECUTIVE AGENCY
                            "MARITIME ADMINISTRATION"</a></h6>
                    <p class="certificates-logo-container"><img class="certificates-logo"
                            src="../../pictures/logo-certificates/iama_logo.png" alt="marine-security-duties-logo"></p>
                </article>
            </div>
        </div>
    </section>
</main>

{{> footer}}