{{>header}}
<main class="site-education">
    <section class="site-education-content">
        <h1 class="site-education-content-main-title">My Education</h1>
        <h5 class="site-education-content-second-title">Lorem, ipsum dolor sit amet consectetur adipisicing
            elit.</h5>

        <div class="site-education-vertical-timeline-wrapper">
            <div class="site-education-vertical-timeline">

                <div class="timeline-marker-ma"><i class="fas fa-user-graduate"></i></div>
                <article class="site-education-vertical-timeline-school-university-ma">
                    <h3>Master Degree.....</h3>
                    <h5><a class="education-site" href="http://www2.tu-varna.bg/tu-varna/" target="_blank">Technische
                            Universität Varna</a></h5>

                    <p class="education-logo-container"><img class="education-logo" src="../../pictures/logo-education/logo_tu.png"
                            alt="university-ma-logo"></p>
                    <p class="education-city">Varna, Bulgarien</p>
                    <time class="date">09/2016 – AKTUELL</time>

                    <ul class="education-info">
                        <li><i class="fas fa-plug"></i> Komplexe Schiff Managementsysteme</li>
                        <li><i class="fas fa-plug"></i> Sicherheitsorganisation und -verwaltung Krisensituationen</li>
                    </ul>
                </article>

                <div class="timeline-marker-ba"><i class="fas fa-university"></i></div>
                <article class="site-education-vertical-timeline-school-university-ba">
                    <h3>Master Degree.....</h3>
                    <h5><a class="education-site" href="http://www2.tu-varna.bg/tu-varna/" target="_blank">Technische
                            Universität Varna</a></h5>

                    <p class="education-logo-container"><img class="education-logo" src="../../pictures/logo-education/logo_tu.png"
                            alt="university-ba-logo"></p>
                    <p class="education-city">Varna, Bulgarien</p>
                    <time class="date">09/2016 – AKTUELL</time>

                    <ul class="education-info">
                        <li><i class="fas fa-plug"></i> Komplexe Schiff Managementsysteme</li>
                        <li><i class="fas fa-plug"></i> Sicherheitsorganisation und -verwaltung Krisensituationen</li>
                        <li><i class="fas fa-plug"></i> Erneuerbare Energien (Sonnenenergie, Windenergie</li>
                    </ul>
                </article>

                <div class="timeline-marker-school"><i class="fas fa-school"></i></div>
                <article class="site-education-vertical-timeline-school">
                    <h3>High School</h3>
                    <h5><a class="education-site"
                            href="https://bg-bg.facebook.com/pg/%D0%9F%D0%93%D0%A1-%D0%9A%D0%9E%D0%9B%D0%AC%D0%9E-%D0%A4%D0%98%D0%A7%D0%95%D0%A2%D0%9E-%D0%92%D0%90%D0%A0%D0%9D%D0%90-407939359223452/about/"
                            target="_blank">K F Varna</a></h5>

                    <p class="education-logo-container"><img class="education-logo" src="../../pictures/logo-education/kf.jpg"
                            alt="school-logo"></p>
                    <p class="education-city">Varna, Bulgarien</p>
                    <time class="date">09/2016 – AKTUELL</time>

                    <ul class="education-info">
                        <li><i class="fas fa-plug"></i> Komplexe Schiff Managementsysteme</li>
                        <li><i class="fas fa-plug"></i> Sicherheitsorganisation und -verwaltung Krisensituationen
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </section>
</main>
{{>footer}}