.site-work {
    flex: 1 1 100%;
    margin-bottom: 1px;
    background-color: #9B5AB6;
}

.site-work-vertical-timeline {
    background-color: white;
}

.site-work-content-main-title {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 40px;
    text-shadow: 1px 1px silver;
    margin-bottom: 0px;
    background-image: radial-gradient(circle, rgba(155,90,182,1) 5%, rgba(255,255,255,1) 95%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.site-work-content-main-title:hover {
    background-size: 100% 88%;
}

.site-work-content-second-title {
    text-align: center;
    color: white;
    margin-top: 0px;
    font-weight: normal;
}

.site-work-vertical-timeline>article {
    margin: 8px 0px;
}

.site-work-vertical-timeline-sitte,
.site-work-vertical-timeline-bs,
.site-work-vertical-timeline-andi {
    border: 2px solid silver;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
    width: 40%;
    padding: 10px;
    background-color: #EFEFEF;
}

.fas.fa-bolt,
.fas.fa-briefcase {
    color: #9B5AB6;
}

.site-work-vertical-timeline>article>h3 {
    margin-top: 0;
    margin-bottom: 0px;
    text-shadow: 2px 2px silver
}

.site-work-vertical-timeline>article>h5 {
    margin-top: 0;
    margin-bottom: 0px;
}

.work-site {
    margin-top: 0;
    margin-bottom: 0px;
    color: #9B5AB6;
}

.work-site:hover {
    opacity: 0.8;
}

.work-city,
.date {
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0px;
}

.work-info,
.work-info-second-list {
    border-top: 1px solid black;
    padding: 10px;
    font-size: 14px;
}

.site-work-vertical-timeline-wrapper {
    width: 80%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    height: 250vh;
    background-color: white
}

.site-work-vertical-timeline-wrapper:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -1px;
    width: 3px;
    height: 90%;
    background: radial-gradient(circle, rgba(204, 209, 217, 1) 48%, rgba(255, 255, 255, 1) 100%);
    z-index: 1
}

.site-work-vertical-timeline-sitte {
    position: absolute;
    left: 5%;
}

.site-work-vertical-timeline-bs {
    position: absolute;
    right: 5%;
    top: 45%;
}

.site-work-vertical-timeline-andi {
    position: absolute;
    left: 5%;
    top: 75%;
}

.timeline-work-marker-sitte,
.timeline-work-marker-bs,
.timeline-work-marker-andi {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid #9B5AB6;
    background: #9B5AB6;
    z-index: 9999;
    position: absolute;
    color: white;
}

.fas.fa-wrench {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeline-work-marker-sitte {
    right: 46.2%;
    top: 11.5%;
}

.timeline-work-marker-bs {
    right: 46.2%;
    top: 55%;
}

.timeline-work-marker-andi {
    right: 46.2%;
    top: 80%;
}

.work-info-second-list>li>a {
    color: black;
}


.work-info-second-list>li:hover {
    opacity: 0.8;
    cursor: pointer;
    outline: none;
}

.site-work-vertical-timeline-sitte:hover,
.site-work-vertical-timeline-bs:hover,
.site-work-vertical-timeline-andi:hover {
    transition: transform 0.4s ease-in;
    transform: scale(1.2);
}

.work-logo-container {
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 12px;
    max-width: 60%;
    margin-left: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.work-logo-container>img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.35);
}